@font-face{
    font-family: Arbutus;
    src: url("./fonts/Arbutusregular.ttf");
}

@font-face{
    font-family: Amatic;
    src: url("./fonts/AmaticSC-Regular.ttf");
}

@font-face{
    font-family: Welcome;
    src: url("./fonts/Welcome.ttf");
}

@font-face{
    font-family: Abel;
    src: url("./fonts/Abel.ttf");
}

@font-face{
    font-family: Abhayalibre;
    src: url("fonts/abhayalibre-extrabold.ttf");
}

html, body{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background: #bfbfbf url(img/background1.png) repeat-y;
    font-family: Abel, sans-serif;
}

header{
    height: 577px;
    width: 100%;
    background: url(img/cat.png) right top no-repeat;
    margin: 0;
}

h1{
    margin: 0;
    font-family: Arbutus, sans-serif;
    color: rgba(35, 55, 74, 0.8);
    font-size: 100pt;
    text-align: right;
}

.promo{
    font-family: Amatic, serif;
    font-size: 45pt;

    width: 600px;
    text-align: right;
}

.content{
    margin: 0 25px;
    height: 100%;

    display: flex;
    flex-direction: column-reverse;
}

h2{
    font-family: Welcome, serif;
    font-size: 35pt;
    text-align: center;
}

.block{
    margin-top: 200px;
    margin-left: 25px;
    margin-right: 25px;
}

.features{
    flex-direction: row;
    justify-content: space-around;
}

.feature{
    width: 290px;
}

.feature h3, .feature p{
    text-align: center;
    font-size: 30px;
}

.feedback-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    list-style-type: none;
    margin: 0;
    margin-top: 50px;
    padding: 0;

    font-size: 20px;
}

.feedback-item{
    margin-right: 40px;
    padding: 40px;
    padding-top: 70px;
    padding-bottom: 10px;
    position: relative;

    background-image: url("img/feedbackBackground.png");
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
}

.feedback-item::before{
    content: "“";
    position: absolute;
    top: 0;

    font-size: 150px;
    font-family: Abhayalibre, serif;
    color: rgba(35, 55, 74, 0.8);
}

.feedback-item:last-child{
    margin-right: 0;
}

.feedback-item .author{
    color: rgba(35, 55, 74, 0.8);
    font-weight: bold;
    font-family: Abhayalibre, serif;
    font-size: 25px;
    text-align: right;
}

.feedback-item .date{
    text-align: right;
    font-size: 15px;
}

.question-form{
    margin-left: auto;
    margin-right: 25px;
    padding: 5px 36px;

    background-image: url("img/feedbackBackground.png");
    width: 528px;
}